*{
    margin: 0;
    padding: 0;
}

.cabecalho5{
    border: solid 5px red;
    height: 110px;
}

.cabecalho5 h1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
    border: solid black;
    display: flex;
    justify-content: center;
}

section video{
    margin: 40px;
    height: 640px;
    border-radius: 20px;
}


.rodape5{
    border: solid green;
    height: 100px;
}

.rodape5 h2{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
