*{
    margin: 0;
    padding: 0;
}

.cabecalho2{
    background-color: rgb(201, 106, 106);
    border: solid 5px rgb(201, 106, 106);
    height: 110px;
}

.cabecalho2 h1{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
    border: solid rgb(201, 106, 106);
    display: flex;
    justify-content: center;
}

section video{
    margin: 40px;
    height: 640px;
    border-radius: 20px;
}

.rodape2{
    background-color: rgb(201, 106, 106);
    border: solid rgb(201, 106, 106);
    height: 100px;
}

.rodape2 h2{
    color: white;
    display: flex;
    justify-content: center;
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
